<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>title</title>
  {{block 'head'}}
</head>
<body>
  {{{body}}}

  {{block 'foot'}}
</body>
</html>
{{!--
<p>begin</p>
<p>begin</p>
{{zhanweifu}}
<p>begin</p>
<p>begin</p>
<p>begin</p>
{{{body}}}
<p>end</p>
<p>end</p>
<p>end</p>
<p>end</p>
<p>end</p>
<p>end</p>
<p>end</p>
<p>end</p>
<p>end</p>
 --}}
